* {
    margin: 0;
    padding: 0;
    background-color: hsl(240, 18%, 10%);
  }
  h1{
    color: hsl(0, 0%, 80%);
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .ColorDiv{
    height: 50vh;
    width: 50vh;
    color: hsl(0, 0%, 80%);
    align-content: center;
    border: 3px solid hsl(120, 100%, 25%);
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  .ColorDiv label{
    background-color: transparent;
  }
  p{
    color: white;
  }
  .ColorDiv:hover{
    border: 3px solid hsl(120, 100%, 65%);
    color: hsl(0, 0%, 100%);
  }
  .ComponentDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  input[type="color"]{
    cursor: pointer;
    height: 5vh;
    width: 10vh;
  }
  input[type="color"]:hover{
    border: 2px solid white;
  }